In [2]:
import pandas as pd

In [3]:
data_set = pd.read_csv("./data.csv")

In [4]:
data_set

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [5]:
pd.head(1)

AttributeError: module 'pandas' has no attribute 'head'

In [6]:
data_set.head(1)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1

In [7]:
data_set.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [8]:
data_set.tail()

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [9]:
data_set.tail(1)

     Duration  Pulse  Maxpulse  Calories
168        75    125       150     330.4

In [10]:
data_set.tail(10)

     Duration  Pulse  Maxpulse  Calories
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [11]:
data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [12]:
data_set["Duration"].median()

60.0

In [13]:
data_set["Pulse"].mean()

107.46153846153847

In [14]:
data_set["Duration"].mode()

0    60
dtype: int64

In [15]:
data_set["Duration"].mode()[0]

60

In [16]:
mean_c = data_set["Calories"].mean()

data_set["Calories"].fillna(mean_c, inplace=True)

0      409.1
1      479.0
2      340.0
3      282.4
4      406.0
       ...
164    290.8
165    300.0
166    310.2
167    320.4
168    330.4
Name: Calories, Length: 169, dtype: float64

In [17]:
mode_d = data_set["Duration"].mode()[0]

data_set["Duration"].fillna(mode_d)

0      60
1      60
2      60
3      45
4      45
       ..
164    60
165    60
166    60
167    75
168    75
Name: Duration, Length: 169, dtype: int64

In [18]:
data_set.index

RangeIndex(start=0, stop=169, step=1)

In [21]:
d_mode = data_set["Duration"].mode()[0]
for i in data_set.index:
    if data_set.loc[i]["Duration"] > 120:
        # print(data_set.loc[i]["Pulse"])
        data_set.loc[i, "Duration"] = d_mode

In [22]:
data_set

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [23]:
data_set.dropna(inplace=True)

In [24]:
data_set.dropna( subset = ["Duration"])

TypeError: dropna() got an unexpected keyword argument 'data_set'