In [29]:
import pandas as pd

In [5]:
dataset=pd.read_csv("dataset.csv")
dataset

,work_year,job_title,job_category,salary_currency,salary,salary_in_usd,employee_residence,experience_level,employment_type,work_setting,company_location,company_size
0,2023,Data DevOps Engineer,Data Engineering,EUR,88000.0,95012.0,Germany,Mid-level,Full-time,Hybrid,Germany,L
1,2023,Data Architect,Data Architecture and Modeling,USD,186000.0,186000.0,United States,Senior,Full-time,In-person,United States,M
2,2023,Data Architect,Data Architecture and Modeling,USD,81800.0,81800.0,United States,Senior,Full-time,In-person,United States,M
3,2023,Data Scientist,Data Science and Research,USD,212000.0,212000.0,United States,Senior,Full-time,In-person,United States,M
4,2023,Data Scientist,NaN,USD,93300.0,93300.0,United States,Senior,Full-time,In-person,United States,M
...,...,...,...,...,...,...,...,...,...,...,...,...
2207,2023,Data Analyst,Data Analysis,$,105000.0,105000.0,United States,Mid-level,Full-time,In-person,United States,M
2208,2023,Data Analyst,Data Analysis,USD,78000.0,78000.0,United States,Mid-level,Full-time,In-person,United States,M
2209,2023,Data Manager,Leadership and Management,USD,115500.0,115500.0,United States,Mid-level,Full-time,In-person,United States,M
2210,2023,Data Manager,Leadership and Management,USD,73500.0,73500.0,United States,Mid-level,Full-time,In-person,United States,M
2211,2023,Machine Learning Engineer,Machine Learning and AI,USD,370000.0,370000.0,United States,Senior,Full-time,In-person,United States,M

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2212 entries, 0 to 2211
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           2212 non-null   int64
 1   job_title           2209 non-null   object
 2   job_category        2205 non-null   object
 3   salary_currency     2203 non-null   object
 4   salary              2211 non-null   float64
 5   salary_in_usd       2211 non-null   float64
 6   employee_residence  2212 non-null   object
 7   experience_level    2211 non-null   object
 8   employment_type     2212 non-null   object
 9   work_setting        2211 non-null   object
 10  company_location    2212 non-null   object
 11  company_size        2212 non-null   object
dtypes: float64(2), int64(1), object(9)
memory usage: 207.5+ KB

In [9]:
missing_values_count = dataset.isnull().sum()
missing_values_count

work_year             0
job_title             3
job_category          7
salary_currency       9
salary                1
salary_in_usd         1
employee_residence    0
experience_level      1
employment_type       0
work_setting          1
company_location      0
company_size          0
dtype: int64

In [10]:
dataset['job_category'].fillna(dataset['job_category'].mode()[0], inplace=True)

In [11]:
missing_values_count = dataset.isnull().sum()
missing_values_count

work_year             0
job_title             3
job_category          0
salary_currency       9
salary                1
salary_in_usd         1
employee_residence    0
experience_level      1
employment_type       0
work_setting          1
company_location      0
company_size          0
dtype: int64

In [15]:
job_categories = dataset['job_category'].unique()
for category in job_categories:
    mode_value = dataset[dataset['job_category'] == category]['job_title'].mode()[0]
    dataset.loc[(dataset['job_category'] == category) & (dataset['job_title'].isnull()), 'job_title'] = mode_value

In [16]:
missing_values_count = dataset.isnull().sum()
missing_values_count

work_year             0
job_title             0
job_category          0
salary_currency       9
salary                1
salary_in_usd         1
employee_residence    0
experience_level      1
employment_type       0
work_setting          1
company_location      0
company_size          0
dtype: int64

In [17]:
dataset['experience_level'].fillna(method='ffill', inplace=True)

In [18]:
missing_values_count = dataset.isnull().sum()
missing_values_count

work_year             0
job_title             0
job_category          0
salary_currency       9
salary                1
salary_in_usd         1
employee_residence    0
experience_level      0
employment_type       0
work_setting          1
company_location      0
company_size          0
dtype: int64

In [19]:
dataset['work_setting'].fillna(method='ffill', inplace=True)

In [25]:
missing_values_count = dataset.isnull().sum()
missing_values_count

work_year             0
job_title             0
job_category          0
salary_currency       9
salary                1
salary_in_usd         1
employee_residence    0
experience_level      0
employment_type       0
work_setting          0
company_location      0
company_size          0
dtype: int64

In [23]:
unique_values = dataset['salary_currency'].unique()
unique_values

array(['EUR', 'USD', '$', 'GBP', nan, 'CAD', 'AUD'], dtype=object)

In [36]:
for i in range(len(dataset)):
    if pd.isnull(dataset.loc[i, 'salary_currency']):
        if dataset.loc[i, 'salary'] == dataset.loc[i, 'salary_in_usd']:
            dataset.loc[i, 'salary_currency'] = 'USD'
        else:
            dataset.loc[i, 'salary_currency'] = dataset.loc[i-1, 'salary_currency']

In [38]:
missing_values_count = dataset.isnull().sum()
missing_values_count

work_year             0
job_title             0
job_category          0
salary_currency       0
salary                1
salary_in_usd         1
employee_residence    0
experience_level      0
employment_type       0
work_setting          0
company_location      0
company_size          0
dtype: int64

In [70]:
dataset.to_csv('dataset.csv', index=False)

In [65]:
for i in range(len(dataset)):
    if pd.isnull(dataset.loc[i, 'salary']):
        if dataset.loc[i, 'salary_currency'] == 'USD':
            dataset.loc[i, 'salary'] = dataset.loc[i, 'salary_in_usd']
        else:
            dataset['salary'].fillna(dataset['salary'].mean(), inplace=True)

In [67]:
for i in range(len(dataset)):
    if pd.isnull(dataset.loc[i, 'salary_in_usd']):
        if dataset.loc[i, 'salary_currency'] == 'USD':
            dataset.loc[i, 'salary_in_usd'] = dataset.loc[i, 'salary']
        else:
            dataset['salary_in_usd'].fillna(dataset['salary_in_usd'].mean(), inplace=True)

In [69]:
missing_values_count = dataset.isnull().sum()
missing_values_count

work_year             0
job_title             0
job_category          0
salary_currency       0
salary                0
salary_in_usd         0
employee_residence    0
experience_level      0
employment_type       0
work_setting          0
company_location      0
company_size          0
dtype: int64